# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Audio files
tmp_audio.wav

# Local configs
.env

# Model files (optional, keep if you want)
*.pt
*.onnx

# IDE folders
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
